# .gitignore


## FILES ##

# Variables
.env

# Robots
robots.txt


## FOLDERS ##

# VSCode
.vscode
.vscode/

# Virtual Environment
.py_venv
.py_venv/

# Site Cache
__pycache__
__pycache__/
*__pycache__/
/__pycache__/

