asgiref
certifi
charset-normalizer
Django
django-cors-headers
gunicorn
idna
numpy
packaging
psycopg2-binary
python-decouple
python-dotenv
requests
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
