<!--Fetch_Layout File-->
{% extends 'base.html' %}

<!--Set Tab Title-->
{% block title %}Logs - Fortiwan{% endblock %}

{% block app_title %}Fortiwan BCFA Log Files Firewalls{% endblock %}

{% block app_subtitle %}Search & Access <b>archived</b> log files, create log files and examine quarantined items.{% endblock %}
<!--Body Content-->
{% block content %}
<p class="fs-3 text-warning mb-0 fw-medium">
    Fortiwan BCFA Log File Management & Inspection Operations are not yet implemented!
    <p class="fs-6 ms-4"><em>Come back later to see changes...</em></p>    
</p>
{% endblock %}