<!DOCTYPE html>
<!--_Layout File Starts-->
<html lang="en" data-bs-theme="dark">

<!--Resources-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Render Page Title(Default)-->
    <title>{% block title %}Fortiwan{% endblock %} BCFA</title>
    
    <!--Static Folder Served Directly(client)-->
    {% load static %}
    
    <!--(API)GCP WebFont's-->
    <link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet" />
    
    <!--(CDN)Bootstrap-v5.3.0-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_custom.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'custom_stylesheet.css' %}">

    <script>

    </script>
</head>

<!--Body-->
<body class="p-1 m-1 border-0">
    <!--Header-->
    <header class="mb-3 container">        
        <div class="row d-flex align-items-center">
            <div class="col-12">
                <div class="bd-callout bd-callout-info p-2 m-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                        <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                        <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                    </svg> Prototype.v1.0
                </div>
            </div>
            <div class="col-md-3 col-12 d-flex justify-content-start align-items-center">
                <p class="fs-1 text-subtle-primary">
                    FortiWAN BCFA                    
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/fortiwan-dashboard/' %}active{% endif %}" href="{% url 'fortiwan_dashboard:home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/fortiwan-monitor/' %}active{% endif %}" href="{% url 'fortiwan_monitor:home' %}">Fortiwan Monitor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/fortiwan-config/' %}active{% endif %}" href="{% url 'fortiwan_config:home' %}">Fortiwan Configurations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/fortiwan-log/' %}active{% endif %}" href="{% url 'fortiwan_log:home' %}">Fortiwan Logs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 d-flex justify-content-end align-items-center">
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Manage Account">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg>
                        </button>
                        {% if user.is_authenticated %}                                
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Manage Account</button></li>
                                <li><button class="dropdown-item" type="button">Logout</button></li>         
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Login</button></li>
                                <li><button class="dropdown-item" type="button">Contact Admin</button></li>         
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    
    <div class="container" hidden> <!--!! Move this to pop notification !!-->
        <div class="row">
            <div class="col">
                <p class="fs-3 mb-0 text-white">{% block app_title %}Fortiwan BCFA{% endblock %}
                    <p class="fs-6 mt-0 text-white ms-4"><em>{% block app_subtitle %}Default subtitle{% endblock %}</em></p>
                </p>
            </div>
        </div>                
    </div>

    <!--Body Container. View is Rendered Within Container.-->
    <div class="container-fluid p-2 mb-3">
        <main role="main" class="pb-3">            
            <!--Render View-->
            {% block content %}{% endblock %}
        </main>
    </div>

    <!--Footer-->
    <footer class="footer container-fluid">
        <hr>
        <p class="p-0 mb-0">&copy; 2023 Fortiwan BCFA. All rights reserved. | <a href=#disclaimer class="text-danger" title="Prototype Version is intended to demonstrate potential and not execute operations flawlessly!">DISCLAIMER</a>
        </p>
    </footer>

    <!--(CDN)Bootstrap-v5.3.0-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
    <!--(CDN)JQuery-v3.6.0-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'custom_bootstrap.js' %}"></script>

    <script src="{% static 'custom_js.js' %}"></script>

<!--_Layout File Ends-->
</body></html>