<!--Fetch_Layout File-->
{% extends 'base.html' %}

<!--Set Tab Title-->
{% block title %}IPsec Dashboard - Fortiwan{% endblock %}

{% block current_location %}Dashboard{% endblock %}
<!--Body Content-->
{% block content %}
<style>
    .spin-on-hover {
        transition: transform 3s;
    }

    .spin-on-hover:hover {
        transform: rotate(360deg);
    }
</style>
<!-- IPsec Dashboard Content -->
<div class="row g-2">
    <!-- IPsec Dashboard Top -->
    <div class="col-12">
        <p class="fs-2 fw-medium">IPsec Dashboard</p>
        <label for="search-tunnel" class="form-label">Load Specific Tunnel</label>
        <div class="input-group mb-3">
            <input class="form-control" list="serial-numbers" id="input-search-tunnel" placeholder="Type to search...">
            <datalist id="serial-numbers">
                {% for sn in sns %}
                    <option value="{{ sn }}">
                {% endfor %}
            </datalist>
            <button class="btn btn-outline-secondary" type="button" id="search-tunnels">Button</button>
              <!-- <button class="btn btn-outline-secondary" type="button" id="search-tunnels">Load Site</button> -->
        <div class="btn-toolbar mt-1" role="toolbar" aria-label="IPsec Toolbar">
            <div class="btn-group me-2 mt-1" role="group" aria-label="Sites">
                <a href="#sites-working" id="sites-working" class="btn btn-primary">Working Sites</a>
                <a href="#sites-suspended" id="sites-suspened" class="btn btn-secondary">Suspended Sites</a>
            </div>
            <div class="btn-group mt-1" role="group" aria-label="Tunnels">
                <a href="#tunnels-connected" id="tunnels-connected" class="btn btn-success">Connected Tunnels</a>
                <a href="#tunnels-disconnected" id="tunnels-disconnected" class="btn btn-danger">Disconnected Tunnels</a>                    
            </div>
        </div>
    </div>

    <!-- IPsec Dashboard Middle -->
    <div class="col-12">
        <p id="instructions"><em>Please use the buttons to fetch and display results</em></p>
        <div id="spinner" class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>

        <!-- IPsec Container-->
        <div class="row g-2" id="ipsec-container"></div>
    </div>
</div>

<!-- IPsec Template -->
<div class="col-md-6 col-12" id="ipsec-template" hidden>
    <div class="card w-100">
        <div class="card-body mb-2">
            <div class="container">
                <div class="row">
                    <!-- IPsec Header -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="text-start">
                                    <h4 class="card-title mb-0" id="ipsec-name"></h4>
                                    <h5 class="fw-light ms-2" id="ipsec-comment"></h5>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="text-end">
                                    <a href="#interface-modal" data-bs-toggle="modal"  id="launch-modal" title="Reconfigure Tunnel">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gear-wide spin-on-hover" viewBox="0 0 16 16">
                                            <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-6 col-12">
                                <div class="text-start">
                                    <h6 class="fw-semibold mb-1">STATUS: <span class="badge bg-success rounded-pill" id="ipsec-status"></span></h6>
                                    <p class="fw-light ms-1 fw-lighter" id="ipsec-ip"></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="text-end">
                                    <h6 class="fw-semibold mb-1">INTERFACE: <span class="badge bg-primary rounded-pill" id="ipsec-interface"></span></h6>       
                                </div>
                            </div>
                        </div>
                    </div>                                
                    <!-- IPsec Middle -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <h4 class="fw-semibold text-primary-emphasis mb-1">Local Subnets</h4>
                                <p class="fs-6 ms-1 mb-0" id="ipsec-src1"></p>
                                <p class="fs-6 ms-1 mb-0" id="ipsec-src2"></p>
                                <p class="fs-6 ms-1 mb-0" id="ipsec-src3"></p>
                                <p class="fs-6 ms-1" id="ipsec-src4"></p>
                            </div>
                            <div class="col-md-6 col-12">
                                <h4 class="fw-semibold text-primary-emphasis mb-1">Data Center Subnets</h4>
                                <p class="fs-6 ms-1 mb-0" id="ipsec-dst1"></p>
                                <p class="fs-6 ms-1 mb-0" id="ipsec-dst2"></p>
                                <p class="fs-6 ms-1 mb-0" id="ipsec-dst3"></p>
                                <p class="fs-6 ms-1" id="ipsec-dst4"></p>
                            </div>
                        </div>
                    </div>
                    <!-- IPsec Bottom -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <h4 class="fw-semibold text-primary-emphasis mb-1">Core Traffic</h4>
                                <!-- Incoming Traffic(core) -->
                                <p class="fs-6 mb-0 ms-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                    </svg> <span id="ipsec-incoming-core"></span> MB/s
                                </p>
                                <!-- Outgoing Traffic(core) -->
                                <p class="fs-6 mb-0 ms-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg> <span id="ipsec-outgoing-core"></span> MB/s
                                </p>
                            </div>
                            <div class="col-md-6 col-12">
                                <h4 class="fw-semibold text-primary-emphasis mb-1">Tunnel Traffic</h4>
                                <!-- Incoming Traffic(tunnel) -->                                 
                                <p class="fs-6 mb-0 ms-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                    </svg> <span id="ipsec-incoming-tunnel"></span> MB/s
                                </p>
                                <!-- Outgoing Traffic(tunnel) -->
                                <p class="fs-6 mb-0 ms-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg> <span id="ipsec-outgoing-tunnel"></span> MB/s
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer fw-bolder" id="card-footer"></div>
    </div>                
</div>

<div id="modal-container"></div>

<div id="modal-template">
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" id="interface-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Interface Model Header -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-x"></button>
                </div>
                <!--  -->
                <div class="modal-body">
                    <p class="fs-6 fw-bolder text-warning" id="interface-desc"></p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'fortiwan_services:switch_interface' %}" method="post" class="d-flex align-items-start">
                        {% csrf_token %}
                        <div class="row g-2">
                            <div class="col-md-6 col-12">
                                <label class="form-label">IPsec Tunnel Name</label>
                                <input type="text" class="form-control disab" name="tunnel_name" placeholder="non" value="" id="input-name" readonly>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="form-label">IPsec Tunnel Abbreviation</label>
                                <input type="text" class="form-control" name="tunnel_abbr" placeholder="non" value="" id="input-abbr" readonly>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="form-label">Associated Serial Number</label>
                                <input type="text" class="form-control" name="serial_number" placeholder="non" value="" id="input-serial-number" readonly>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="form-label">Current Interface</label>
                                <input type="text" class="form-control" name="tunnel_interface" placeholder="non" value="" id="input-interface" readonly>
                            </div>
                            <div class="col-12 text-start">
                                <input type="submit" class="btn btn-success" value="Confirm">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-cancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#spinner').hide();
        $('#instructions').show();

        // Handle Working Sites
        $('#sites-working').click(function () {
            $('#spinner').show();
            $('#instructions').hide();

            _toast = alertMsg('Retrieving available sites...', 'Please wait, this can take up to 1 minute!', 'info', 60000);
            _toast.show();

            // Use the getAvailableSites function with a callback
            getAvailableSites('{% url "fortiwan_services:get_ipsec" %}', function (templates) {
                // Iterate through templates and append to the container
                $.each(templates, function (index, template) {
                    $('#ipsec-container').append($template);

                    var ipsecName = $template.find('#ipsec-name').text();
                    

                });
            });
        });

        // Attach a change event listener to the input field
        $("#input-search-tunnel").on("change", function () {
            var serialNumber = $(this).val();

            _toast = alertMsg('Retrieving site...', serialNumber, 'info', 10000);
            _toast.show();

            // Set the actual number in the hidden input field
            $("#hidden-serial-number").val(serialNumber);

            // Make an AJAX request
            $.ajax({
                type: "POST",
                url: "{% url 'fortiwan_services:dynamic_get_ipsec' %}",
                data: {
                    'serial_number': serialNumber
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (responseData) {
                    buildIPsecTemplate(responseData);

                    _toast = alertMsg('Retrieval Success!', 'Displaying site.', 'success', 10000);
                    _toast.show();


                },
                error: function (error) {
                    // Handle errors
                    _toast = alertMsg('Whoops this is embarrassing.', 'Sorry this is a preview function!', 'error')
                    _toast.show();

                }
            });
        });
        $('search-tunnels').click(function () {
            $('#spinner').show();
            $('#instructions').hide();

            _toast = alertMsg('Retrieving site...', 'this might not work as expected yet!', 'info', 10000);
            _toast.show();
            // searchSerialNumber('{% url "fortiwan_services:dynamic_get_ipsec" %}')

        });
    });
</script>
{% endblock javascript %}