<!--Fetch_Layout File-->
{% extends 'base.html' %}

<!--Set Tab Title-->
{% block title %}Dashboard - Fortiwan{% endblock %}

{% block app_title %}Welcome to Fortiwan BCFA{% endblock %}

{% block app_subtitle %}A WebApp derived from the FortiOS REST API.{% endblock %}

{% block current_location %}Dashboard{% endblock %}
<!--Body Content-->
{% block content %}
<div class="row gap-2">
<!-- IPsec VPN Tunnels -->
<div class="col-md-6 col-12">
    <p class="fs-2 mb-0">
        IPsec VPN Tunnels Activity
        <p class="fs-6 fw-light ms-2">Last refresh: 00:00</p>
    </p>
    <div id="spinner" class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    <table class="table mt-3" id="show-tunnels" style="display: none;">
        <thead>
            <tr>
                <th scope="col">Tunnel Name</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="tunnel-table-body"></tbody>
    </table>
    <div id="status"></div>
</div>
<div class="col-md-6 col-12"></div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var spinner = document.getElementById('spinner');
        var showTunnels = document.getElementById('show-tunnels');
        var tunnelTableBody = document.getElementById('tunnel-table-body');
        
        spinner.style.display = 'inline-block'; // Show the spinner
        showTunnels.style.display = 'none';
        
        $.ajax({
            type: "GET",
            url: "{% url 'fortiwan_monitor:get_tunnels' %}",
            success: function (data) {
                spinner.style.display = 'none';
                showTunnels.style.display = 'block';
                
                for (var tunnel in data) {
                    if (data[tunnel] != '--') {
                        var row = `<tr>
                                        <td>${tunnel}</td>
                                        <td>${data[tunnel]}</td>
                                   </tr>`;
                        tunnelTableBody.innerHTML += row; // Append row to the table body
                    }
                }
            },
            error: function (error) {
                spinner.style.display = 'none';
                console.error('Error:', error);
            }
        });
    });
</script>

{% endblock %}