<!--Fetch_Layout File-->
{% extends 'base.html' %}

<!--Set Tab Title-->
{% block title %}Configuration - Fortiwan{% endblock %}

{% block app_title %}Fortiwan BCFA configurations{% endblock %}

{% block app_subtitle %}Manage & inspect firewall and related infrastructure configurations within network.{% endblock %}
<!--Body Content-->
{% block content %}
<p class="fs-3 text-warning mb-0 fw-medium">
    Fortiwan BCFA Firewall Configurations are not yet implemented!
    <p class="fs-6 ms-4"><em>Come back later to see changes...</em></p>    
</p>
{% endblock %}