<!--Fetch_Layout File-->
{% extends 'shared/base.html' %}

<!--Set_Layout Application Name-->
{% block app_name %}User Authentication{% endblock %}

<!--Set_Layout Page Title-->
{% block title %}User Details - Auth{% endblock %}

<!--Body Content-->
{% block content %}
<h1>Welcome back, {{ firstname }}</h1>
<ul>
    <li>Your Username: {{ username }}</li>
    <li>Your password<small>(This is how your password gets saved to the database)</small>:<br>{{ password }}</li>
</ul>
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}