<!--Fetch_Layout File-->
{% extends 'base.html' %}

<!--Set Tab Title-->
{% block title %}Monitor - Fortiwan{% endblock %}

{% block app_title %}Monitor Fortiwan BCFA Related Infrastructure.{% endblock %}

{% block app_subtitle %}Inspect in realtime IPsec VPN tunnels, Azure infrastructure, webproxies, users, WiFi Networks & related network firewalls and so much more!{% endblock %}

<!--Body Content-->
{% block content %}
<p class="fs-3 text-warning mb-0 fw-medium">
    Fortiwan BCFA Monitoring Operations are not yet implemented!
    <p class="fs-6 ms-4"><em>Come back <u>SOON</u> to see changes... this will be the First area of work to be Completed :)</em></p>    
</p>
{% endblock %}

