<!--EXTEND FILE: 'base.html'-->
{% extends 'shared/base.html' %}

<!--SET BROWSER TAB TITLE-->
{% block title %}VPN IPsec Monitoring - Fortiwan{% endblock %}

{% block content %}
<h4 style="color:red;">THIS IS JUST A PLACEHOLDER WITH BASIC OUTPUT INTENDED FOR DEBUGGING PURPOSES!</h4>
<br>
<p>VPN IPsec Tunnels:</p>
{% if tunnels %}    
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Last Checked</th>
            <th scope="col">Name</th>
            <th scope="col">Current Status</th>
            <th scope="col">VPN-Traffic(Upload)</th>
            <th scope="col">VPN-Traffic(Download)</th>
        </tr>
    </thead>
    <tbody>
        {% for tunnel in tunnels %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ tunnel.timestamp }}</td>
            <td>{{ tunnel.name }}</td>
            <td>{{ tunnel.status }}</td>
            <td>{{ tunnel.upload }}</td>
            <td>{{ tunnel.download }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No information available yet.</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
    {{ error_response }}
{% endif %}
{% endblock %}

